html {
  background-color: antiquewhite;
}

body {
  /* background-image: url("~../img/pattern.jpg"); */

  background-repeat: no-repeat;
  background-size: 100% 120%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  gap: 1rem;
  margin: 4rem 1rem 0rem 1rem;
}

.info {
  margin: 0px 10px 0px 10px;
}

#cityId {
  margin-top: 10px;
}

#submitId,
#searchbox {
  margin: 10px 10px 5px 10px;
  height: 2rem;
  font-size: medium;
  background-color: antiquewhite;
}

.mainbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22rem;
  height: 35rem;
  background: rgba(157, 157, 158, 0.835);
  color: antiquewhite;
  border-radius: 3%;
}

#tempc,
#tempf {
  font-size: 75px;
}

#dayImg,
#nightImg {
  width: 100px;
  height: 110px;
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.extra {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 165px;
  height: 60px;
  gap: 5px;
}

.extraInfo {
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
  box-shadow: 5px 5px #3b356050;
}

.infoApi {
  font-weight: 800;
}

.column .column > p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

#mainbox2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column p {
  margin: 3px;
}

.daily {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 30%;
  padding: 5px;
  background-color: rgba(160, 209, 237, 0.501);
  margin: 10px 5px 10px 5px;
  border-radius: 3%;
  box-shadow: 5px 5px #3b356050;
  font-size: large;
}

.daily img {
  width: 60px;
  height: 60px;
}

#mainbox3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3%;
}

.favCities {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 3%;
  width: 95%;
  height: 18%;
  background-color: rgba(160, 209, 237, 0.501);
  box-shadow: 5px 5px #3b356050;
  border-radius: 3%;
  cursor: pointer;
  color: antiquewhite;
}

#favImg {
  height: 70%;
  width: auto;
}

#ulid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2%;
  padding: 4% 5% 5% 5%;
  width: 87%;
  height: 80%;
}

.hide {
  display: none;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  margin: 0px;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + label {
  background: #000;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggle {
  margin: 0px;
}
